@import url(https://fonts.googleapis.com/css?family=Handlee);

* {
  font-family: Handlee, Verdana, Geneva, sans-serif !important;
  text-decoration: none !important;
}

body,
body:after {
  background: rgba(33, 33, 33, .6) url(utaha_crushed.png) no-repeat fixed top right;
  background-size: cover;
  color: rgba(77, 222, 204, 1);
  font-size: 13px;
}

body:after {
  content: " ";
  display: block;
  height: 100%;
  opacity: 0;
  position: fixed;
  z-index: -1;
  width: 100%;
}

::-webkit-scrollbar {
  background-color: rgba(33, 33, 33, .92);
  width: 5px;
}



::-webkit-scrollbar-thumb {
  background-color: rgba(77, 222, 204, 1);
}

::-moz-selection {
  background-color: rgba(77, 222, 204, .5);
  color: rgba(255, 254, 249, 1);
  text-shadow: none;
}

a,
#copyright,
#copyright:before,
#mal_cs_pic {
  color: rgba(255, 254, 249, 1) !important;
  text-shadow: 10px 0px transparent, -10px 0px transparent;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

a:hover,
#copyright:hover,
#copyright:hover:before {
  color: rgba(77, 222, 204, 1) !important;
  text-shadow: 0px 0px rgba(77, 222, 204, 1), -0px 0px rgba(77, 222, 204, 1);
}

#btn-back_to_mobile:hover {
  border-right-width: 10px !important;
}

#mal_control_strip td {
  border: none;
  margin: 0;
  padding: 0;
}

#mal_control_strip *,
#list_surround > table:first-of-type a,
.header_title span,
#copyright,
#copyright:before,
td:nth-of-type(n+1)[width="125"] small,
input[value=Cancel],
input[value=Save] {
  font-family: Consolas, "Lucida Console", Monaco, monospace !important;
}

#mal_cs_pic {
  background-color: rgba(33, 33, 33, .7);
  width: 100px !important;
}

#mal_cs_pic img {
  display: none;
}

#mal_cs_listinfo {
  background-color: rgba(33, 33, 33, .7);
  padding-left: 100px !important;
  width: 120px !important;
}

#mal_cs_listinfo div {
  padding-left: 10px;
}

#mal_cs_listinfo a:hover {
  border-color: rgba(77, 222, 204, 1);
  border-left: 5px solid;
  padding-left: 5px;
}

#mal_cs_links {
  width: 120px !important;
}

#mal_cs_links div,
#mal_cs_links a,
#mal_cs_pic a {
  display: inline-block;
  font-size: 0 !important;
  height: 40px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  width: 40px;
}

#mal_cs_links div:last-of-type {
  margin-left: 40px !important;
  width: 80px;
}

#mal_cs_links a {
  background-size: 20px !important;
  display: block;
}

#mal_cs_links a:hover,
#mal_cs_otherlinks div:last-of-type a:hover,
#mal_cs_pic:hover {
  background-color: rgba(77, 222, 204, .5) !important;
}

#mal_cs_links a[href="/addtolist.php?hidenav=1"] {
  background: url(IxqsHFL.png) no-repeat center;
}

#mal_cs_links a[href="/"],
#mal_cs_pic a[href="/"] {
  background: url(yUEYRSe.png) no-repeat !important;
  background-size: 100px !important;
  left: 0;
  position: fixed;
  width: 100px;
}

#mal_cs_links a[href="/"]:hover {
  background-color: rgba(77, 222, 204, .5) !important;
}

#mal_cs_links a[href*="/animelist/"] {
  background: url(QsWimK8.png) no-repeat center;
}

#mal_cs_links a[href*="/mangalist/"] {
  background: url(eIWWXDa.png) no-repeat center;
  margin-left: 40px !important;
}

#mal_cs_otherlinks div {
  display: inline-block;
  float: left;
  height: 40px;
  margin: 0 !important;
}

#mal_cs_otherlinks div:first-of-type {
  color: rgba(255, 254, 249, 1);
  font-size: 12px;
  line-height: 40px;
  overflow: hidden;
  padding: 0px 10px 0px;
  text-align: center;
}

#mal_cs_otherlinks div:first-of-type strong:before {
  background: rgba(77, 222, 204, .5);
  content: " ";
  height: 40px;
  margin-left: -20px;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 40px;
  z-index: -1;
}

#mal_cs_otherlinks div:first-of-type a {
  background: transparent url(zNq0WMX.png) no-repeat center !important;
  background-size: 0 !important;
  font-size: 12px;
}

#mal_cs_otherlinks div:last-of-type {
  font-size: 0;
  width: 120px;
}

#mal_cs_otherlinks div:last-of-type a {
  background-size: 20px !important;
  display: block;
  float: left;
  font-size: 0;
  height: 40px;
  width: 40px;
}

#mal_cs_otherlinks div:last-of-type a:last-of-type {
  margin-left: 80px !important;
  position: absolute;
  top: 0;
}

#mal_cs_otherlinks a[href*="/history/"] {
  background: url(CgnuY7T.png) no-repeat center;
}

#mal_cs_otherlinks a[href="/forum/"] {
  background: url(GT3KMR6.png) no-repeat center;
}

#mal_cs_otherlinks a[href="/panel.php?go=export"] {
  background: url(O8ripMs.png) no-repeat center;
}

#mal_cs_otherlinks a[href*="/sharedanime.php?"],
#mal_cs_otherlinks a[href*="/sharedmanga.php?"] {
  background: url(tJWJlPN.png) no-repeat center;
}

#mal_cs_otherlinks a[href*="/animelist/"],
#mal_cs_otherlinks a[href*="/mangalist/"] {
  background: url(8i0ybAg.png) no-repeat center;
}

#mal_cs_otherlinks a[href="/login.php"] {
  background: url(eLdp1Gz.png) no-repeat center;
}

#mal_cs_otherlinks a[href="/register.php"] {
  background: url(khHp57D.png) no-repeat center;
}

#mal_cs_otherlinks a[href="/forum/?topicid=515949"] {
  background: url(EPM4Fsm.png) no-repeat center;
}

span[title="Compatibility Score"] {
  font-size: 15px;
  line-height: 40px;
  margin-left: 40px !important;
  padding: 0px 10px 0px;
  position: absolute;
}

#mal_cs_powered {
  right: 0 !important;
  position: fixed !important;
  top: 0 !important;
  width: calc(100% - 820px);
}

#mal_cs_powered img {
  display: none;
}

#search {
  height: 40px;
  margin: 0 !important;
  padding: 0 !important;
}

#searchBox {
  background-color: transparent;
  border: solid rgba(77, 222, 204, 1);
  border-width: 0px 5px 0px 0px;
  color: rgba(255, 254, 249, 1);
  display: block;
  font-size: 12px !important;
  height: 20px;
  letter-spacing: .1em;
  text-align: right;
  text-transform: uppercase;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  padding-right: 10px;
  position: fixed;
  right: 10px;
  top: 9px;
  width: calc(100% - 850px) !important;
}

#searchBox:hover {
  border-width: 0px 10px 0px 0px;
  padding-right: 10px;
}

#list_surround {
  left: 10px;
  position: absolute;
  top: 40px;
  width: 60%;
}

br {
  display: none;
}

#list_surround > table:first-of-type {
  font-size: 15px;
  height: calc(30px * 6);
  position: fixed;
  right: 10px;
  top: 50px;
  width: 170px;
  z-index: 1;
}

#list_surround > table:first-of-type:after {
  background: rgba(33, 33, 33, .8);
  content: " ";
  display: none;
  height: calc(100% - 70px);
  position: fixed;
  right: 0;
  top: 40px;
  width: 80px;
  z-index: -2;
}

#list_surround > table:first-of-type td {
  height: 30px;
  line-height: 30px;
  position: absolute;
  text-align: right;
  width: 100%;
}

#list_surround table:first-of-type td:nth-of-type(2) {
  margin-top: 30px;
}

#list_surround table:first-of-type td:nth-of-type(3) {
  margin-top: calc(30px * 2);
}

#list_surround table:first-of-type td:nth-of-type(4) {
  margin-top: calc(30px * 3);
}

#list_surround table:first-of-type td:nth-of-type(5) {
  margin-top: calc(30px * 4);
}

#list_surround table:first-of-type td:nth-of-type(6) {
  margin-top: calc(30px * 5);
}

.status_not_selected a,
.status_selected a {
  background-size: 0 !important;
  border-color: rgba(77, 222, 204, 1) !important;
  border-right: 5px solid;
  display: block;
  height: 100%;
  padding-right: 10px;
}

.status_not_selected a:before,
.status_selected a:before {
  background: rgba(77, 222, 204, 1);
  content: " ";
  display: none;
  height: 50px;
  opacity: 0;
  position: relative;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  width: 50px;
  z-index: -1;
}

.status_not_selected a[href*="status=1"],
.status_selected a[href*="status=1"] {
  background: transparent url(ecFDvux.png) no-repeat center;
}

.status_not_selected a[href*="status=2"],
.status_selected > a[href*="status=2"] {
  background: transparent url(LKlj3Kv.png) no-repeat center;
}

.status_not_selected > a[href*="status=3"],
.status_selected > a[href*="status=3"] {
  background: transparent url(qNJmYml.png) no-repeat center;
}

.status_not_selected > a[href*="status=4"],
.status_selected > a[href*="status=4"] {
  background: transparent url(HE83QjF.png) no-repeat center;
}

.status_not_selected > a[href*="status=6"],
.status_selected > a[href*="status=6"] {
  background: transparent url(Cwspzi6.png) no-repeat center;
}

.status_not_selected > a[href*="status=7"],
.status_selected > a[href*="status=7"] {
  background: transparent url(st7q5x0.png) no-repeat center;
}

.status_not_selected a:hover,
.status_selected a:hover {
  border-right: 10px solid;
}

.status_selected a {
  color: rgba(77, 222, 204, 1) !important;
  border-right: 10px solid;
  padding-right: 10px;
  text-transform: uppercase;
}

.header_cw,
.header_completed,
.header_onhold,
.header_dropped,
.header_ptw {
  background-color: rgba(77, 222, 204, .5);
  margin-top: 10px;
  padding: 10px;
}

.header_title {
  color: rgba(33, 33, 33, 1);
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 5px;
  margin-left: 70px;
  text-transform: uppercase;
}

.table_header {
  background-color: rgba(33, 33, 33, .7);
  line-height: 2.0em;
  padding: 4px;
}

tr:hover [class^=td] {
  background-color: rgba(33, 33, 33, .6);
}

.td1,
.td2 {
  line-height: 1.0em;
  padding: 4px;
}

.td1 {
  background-color: rgba(33, 33, 33, .5);
}

.td2 {
  background-color: rgba(33, 33, 33, .4);
}

tr:hover [class^=td] a {
  text-shadow: 0px 0px rgba(77, 222, 204, 1), -0px 0px rgba(77, 222, 204, 1);
}

.animetitle {
  display: inline-block;
  height: 1em;
  max-width: calc(100% - 120px);
  overflow: hidden;
}

.animetitle:after,
.animetitle:before {
  background-color: rgba(33, 33, 33, .8);
  border-left-color: rgba(77, 222, 204, 1) !important;
  border-right-color: rgba(77, 222, 204, 1) !important;
  border-right-width: 0 !important;
  border-style: solid !important;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

.animetitle:hover {
  border-color: rgba(77, 222, 204, 1);
  border-left: 5px solid;
  padding-left: 5px;
}

.animetitle + small {
  margin-left: 5px;
  opacity: 1 !important;
  position: absolute;
  text-transform: lowercase;
}

.td1 small,
.td2 small {
  opacity: 0;
}

tr:hover td.td1 small,
tr:hover td.td2 small {
  opacity: 1;
}

td[class^=td][width="45"] input,
td[class^=td][width="70"] input {
  height: 1em;
  margin: 0 -25px;
  text-align: center;
  width: 45px;
}

td[class^=td][width="70"] input {
  width: 70px;
}

input[type="text"] {
  border: 0;
}

input[value="Go"] {
  display: none;
}

td:nth-of-type(n+1)[width="125"] {
  padding: 0;
  width: 0;
}

td:nth-of-type(n+1)[width="125"] strong,
td:nth-of-type(n+1)[width="125"] b {
  font-size: 0;
}

td:nth-of-type(n+1)[width="125"] small {
  background-color: rgba(77, 222, 204, .5);
  display: block;
  font-size: 12px;
  margin-top: -25px;
  opacity: 0;
  padding: 2px;
  position: absolute;
  right: -225px;
  text-transform: uppercase;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  visibility: hidden;
  width: 70px;
  z-index: 4;
}

td:nth-of-type(n+1)[width="125"] small:hover,
input[value=Cancel]:hover,
input[value=Save]:hover {
  color: rgba(33, 33, 33, 1);
}

tr:hover td:nth-of-type(n+1)[width="125"] small {
  opacity: 1;
  right: -95px;
  visibility: visible;
}

td:nth-of-type(n+1)[width="125"] small:after {
  content: " tags";
}

.td1[width="125"] > span,
.td2[width="125"] > span {
  background-color: rgba(33, 33, 33, .8);
  border-color: rgba(77, 222, 204, 1);
  border-left: 5px solid;
  height: 0;
  left: 100%;
  margin-left: 10px;
  margin-top: -12px;
  min-height: 0;
  opacity: 0;
  position: absolute;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  visibility: hidden;
  width: 190px;
}

tr:hover .td1[width="125"] > span,
tr:hover .td2[width="125"] > span {
  height: auto;
  min-height: 32px;
  opacity: 1;
  padding: 5px 10px;
  visibility: visible;
  z-index: 3;
}

tr:hover .td1[width="125"] > span:before,
tr:hover .td2[width="125"] > span:before {
  content: " ";
  display: block;
  height: 100%;
  margin-top: -5px;
  margin-left: -25px;
  position: absolute;
  width: 10px;
}

.td1[width="125"] a,
.td2[width="125"] a {
  font-size: 13px;
  line-height: 16px;
  overflow: hidden;
}

.inputtext {
  background-color: rgba(33, 33, 33, .8);
  border: 0;
  color: rgba(255, 254, 249, 1);
  height: 150px !important;
  margin-top: -12px;
  padding: 5px;
  position: absolute;
  right: -225px;
  width: 205px !important;
  z-index: 5;
}

input[value=Cancel],
input[value=Save] {
  background-color: rgba(77, 222, 204, .5);
  border: 0;
  color: rgba(255, 254, 249, 1);
  cursor: pointer;
  margin-top: calc(-12px + 155px);
  position: absolute;
  right: -210px;
  text-transform: uppercase;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  width: 70px;
  z-index: 5;
}

input[value=Save] {
  right: -135px;
}

.borderRBL {
  color: rgba(77, 222, 204, 1);
  padding-left: 50px;
}

.borderRBL br {
  display: block !important;
}

.category_totals,
#grand_totals {
  background-color: rgba(33, 33, 33, .7);
  color: rgba(77, 222, 204, 1);
  line-height: 25px;
  text-align: center;
}

#grand_totals {
  margin-bottom: 0px;
  margin-top: 10px;
}

#copyright,
#copyright:before {
  border-color:rgba(77, 222, 204, 1) !important;
  border-right: 5px solid;
  color: rgba(255, 254, 249, 1);
  height: 40px !important;
  line-height: 20px;
  padding-right: 5px;
  position: fixed;
  right: 10px;
  text-align: right !important;
  width: 350px !important;
  z-index: 2;
}

#copyright {
  bottom: 10px;
}

#copyright:hover,
#copyright:hover:before {
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

#copyright:hover {
  color: rgba(255, 254, 249, 1) !important;
  cursor: default;
}

#copyright:before {
  bottom: 50px;
  content: "Layout by Kiokuzoku";
  font-size: 13px;
  height: 20px !important;
}

#copyright:hover:before {
  border-right: 10px solid;
  color: rgba(77, 222, 204, 1);
}

#copyright:after {
  background-color: rgba(33, 33, 33, .8);
}

/**@media all and (max-width: 1024px), all and (max-height: 390px) , all and (orientation: portrait)  {/**/
#btn-back_to_mobile {
  bottom: 40px !important;
}

#list_surround {
  padding-bottom: 40px;
}

#grand_totals {
  margin-top: 0px;
}

#copyright,
#copyright:before,
#copyright:after {
  border: 0;
  left: 0;
  line-height: 30px;
  right: 0;
  text-align: center !important;
  width: auto !important;
}

#copyright {
  bottom: 0;
  height: 30px !important;
}

#copyright:before {
  bottom: 0;
  height: 30px !important;
  padding-right: 10px;
  text-align: right !important;
}

#copyright:hover:before {
  border: 0;
}

#copyright:after {
  content: " ";
  height: 30px;
  position: fixed;
  z-index: -1;
}
/**}/**/

/*@media all and (max-width: 960px), all and (max-height: 390px) , all and (orientation: portrait) {/**/
#btn-back_to_mobile {
  background-position: 5px !important;
  border: 0 !important;
  bottom: 0 !important;
  padding: 5px !important;
  left: 0;
}

#list_surround {
  width: calc(100% - 100px);
}

#list_surround > table:first-of-type {
  height: calc(50px * 6);
  width: 55px;
}

#list_surround > table:first-of-type:after,
.status_not_selected a:before,
.status_selected a:before {
  display: block;
}

#list_surround > table:first-of-type td {
  font-size: 0;
  height: 50px;
}

#list_surround table:first-of-type td:nth-of-type(2) {
  margin-top: 50px;
}

#list_surround table:first-of-type td:nth-of-type(3) {
  margin-top: calc(50px * 2);
}

#list_surround table:first-of-type td:nth-of-type(4) {
  margin-top: calc(50px * 3);
}

#list_surround table:first-of-type td:nth-of-type(5) {
  margin-top: calc(50px * 4);
}

#list_surround table:first-of-type td:nth-of-type(6) {
  margin-top: calc(50px * 5);
}

.status_not_selected a,
.status_selected a {
  background-size: 30px !important;
}

.status_selected a,
.status_not_selected a:hover,
.status_selected a:hover {
  border-width: 5px;
}


.status_selected a:before,
.status_not_selected a:hover:before,
.status_selected a:hover:before {
  opacity: .5;
}

.td1[width="125"] > span,
.td2[width="125"] > span {
  border-left-width: 0;
  bottom: 35px;
  left: -10px;
  min-height: 12px !important;
  position: fixed;
  width: 85%;
}

td:nth-of-type(n+1)[width="125"] small {
  right: 100%;
}

td:nth-of-type(n+1)[width="125"] small:hover {
  right: calc(100% - 65px) !important;
}

tr:hover td:nth-of-type(n+1)[width="125"] small {
  right: calc(100% - 30px);
}

.inputtext {
  bottom: 35px;
  height: 10% !important;
  min-height: 80px;
  left: 0;
  padding-bottom: 25px;
  position: fixed;
  width: 85% !important;
}

input[value=Cancel],
input[value=Save] {
  bottom: 40px;
  left: 80%;
  position: fixed;
  width: 55px;
}

input[value=Save] {
  left: calc(80% - 60px);
}
/**}/**/

/*@media all and (max-width: 900px), all and (max-height: 350px) {/**/
#copyright {
  bottom: 0;
}

#copyright:before {
  font-size: 0;
  text-align: center !important;
  padding: 0;
}

#copyright:hover:before {
  font-size: 13px;
}

#copyright:hover {
  font-size: 0;
}
/**}/**/

/**@media all and (max-width: 900px) {/**/
#mal_cs_otherlinks div:first-of-type,
#mal_cs_otherlinks div:first-of-type a {
  display: block;
  font-size: 0;
  padding: 0;
}

#mal_cs_otherlinks div:first-of-type a {
  height: 40px;
  margin-top: -40px;
}

#mal_cs_otherlinks div:first-of-type strong:hover:before {
  opacity: 1;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

#mal_cs_otherlinks div:first-of-type a {
  background-size: 20px !important;
  width: 40px;
  top: 0;
}

span[title="Compatibility Score"] {
  display: none;
}

#mal_cs_powered,
#searchBox {
  width: calc(100% - 530px) !important;
}

#copyright {
  text-align: right !important;
}
/**}/**/

/*@media all and (max-width: 720px) {/**/
#mal_cs_powered,
#searchBox {
  width: calc(100% - 530px) !important;
}

#list_surround {
  padding-right: 90px;
  width: 120% !important;
}

input[value=Save] {
  right: calc(15% + 60px);
}

#copyright {
  font-size: 0;
}

#copyright:before {
  font-size: 13px;
}
/**}/**/

/*@media all and (max-width: 600px) {/**/

#mal_cs_otherlinks a[href="/login.php"],
#mal_cs_otherlinks a[href="/register.php"],
#mal_cs_otherlinks a[href="/forum/?topicid=515949"] {
  display: block !important;
}

#list_surround {
  width: 150% !important;
  padding-right: 80px;
}
/**}/**/

/*@media all and (max-width: 600px), all and (max-height: 380px) {/**/
#mal_cs_powered,
#searchBox {
  opacity: 1 !important;
  width: calc(100% - 530px) !important;
}

#list_surround {
  width: calc(100% - 90px);
}

#list_surround > table:first-of-type {
  height: calc(45px * 6);
  margin-top: -5px !important;
  width: 50px;
  z-index: 3;
}

#list_surround > table:first-of-type:after {
  width: 70px;
}

#list_surround > table:first-of-type td,
.status_not_selected a:before,
.status_selected a:before {
  height: 45px;
}

#list_surround table:first-of-type td:nth-of-type(2) {
  margin-top: 45px;
}

#list_surround table:first-of-type td:nth-of-type(3) {
  margin-top: calc(45px * 2);
}

#list_surround table:first-of-type td:nth-of-type(4) {
  margin-top: calc(45px * 3);
}

#list_surround table:first-of-type td:nth-of-type(5) {
  margin-top: calc(45px * 4);
}

#list_surround table:first-of-type td:nth-of-type(6) {
  margin-top: calc(45px * 5);
}

.status_not_selected a,
.status_selected a {
  background-size: 25px !important;
}
/**}/**/

/*@media all and (max-height: 380px) {/**/
#mal_cs_powered,
#searchBox {
  width: calc(100% - 800px) !important;
}

.inputtext {
  min-height: 60px;
}
/**}/**/

/**@media all and (max-width: 900px) {/**/
#mal_cs_powered,
#searchBox {
  width: calc(100% - 530px) !important;
}
/**}/**/

/**@media all and (max-width: 580px) {/**/
#mal_cs_powered,
#searchBox {
  width: calc(100% - 380px) !important;
}
/**}/**/

/**@media all and (max-height: 310px) {/**/
#mal_cs_powered {
  opacity: 0 !important;
}

#list_surround > table:first-of-type {
  margin-top: -25px;
}

#copyright {
  font-size: 0;
}

#copyright:before {
  font-size: 13px;
  text-align: center !important;
}
/**}/**/

/**@media all and (max-width: 420px), all and (max-height: 310px) {/**/
#mal_cs_otherlinks strong:hover:before {
  background-color: transparent !important;
  display: none;
}

#mal_cs_powered,
#list_surround > table:first-of-type:after,
#btn-back_to_mobile {
  opacity: 0 !important;
  visibility: hidden !important;
}

#list_surround {
  padding-right: 10px;
  width: calc(420px * 2) !important;
}

#list_surround > table:first-of-type {
  width: 0 !important;
}

#list_surround > table:first-of-type td,
.status_not_selected a,
.status_selected a {
  border: 0 !important;
  bottom: 0;
  height: 0;
  margin-top: 0 !important;
  padding: 0;
  position: fixed;
  left: 0;
  width: 30px;
}

#list_surround table:first-of-type td:nth-of-type(2) a{
  margin-left: 30px;
}

#list_surround table:first-of-type td:nth-of-type(3) a {
  margin-left: calc(30px * 2);
}

#list_surround table:first-of-type td:nth-of-type(4) a {
  margin-left: calc(30px * 3);
}

#list_surround table:first-of-type td:nth-of-type(5) a {
  margin-left: calc(30px * 4);
}

#list_surround table:first-of-type td:nth-of-type(6) a {
  margin-left: calc(30px * 5);
}

.status_not_selected a,
.status_selected a {
  height: 30px;
}

.status_not_selected a:before,
.status_selected a:before {
  width: 30px
}

#copyright:before {
  padding-right: 5px;
  text-align: right !important;
}
/**}/**/

/**@media all and (max-width: 420px) {/**/
#mal_cs_pic {
  width: 70% !important;
}

#mal_cs_listinfo {
  width: 120% !important;
}

#mal_cs_links div {
  right: 0;
}

#mal_cs_links div:first-of-type {
  right: 80px;
}

#mal_cs_otherlinks {
  float: right;
}

#mal_cs_powered,
#list_surround > table:first-of-type:after {
  display: none;
}
/**}/**/

/**@media all and (max-height: 420px) {/**/
#mal_cs_powered {
  opacity: 1 !important;
  visibility: visible !important;
}

#copyright:hover:before {
  text-align: center;
}
/**}/**/

/**@media all and (max-width: 320px) {/**/
.status_not_selected a,
.status_selected a {
  left: 12%;
}

#copyright:before,
#copyright:hover:before {
  font-size: 0;
}
/**}/**/

/**@media all and (max-width: 310px) {/**/
#mal_cs_powered {
  display: none;
}

#mal_cs_listinfo div {
  width: 90px !important;
}

#mal_cs_links div {
  right: 0;
}

#mal_cs_links div:last-of-type {
  display: none;
}

#list_surround{
  width: 280% !important;
}

.inputtext {
  min-height: 40px;
}
/**}/**/

/*@media all and (max-width: 200px), all and (max-height: 150px) {/**/
#mal_control_strip,
#list_surround > table:first-of-type td,
.status_not_selected a,
.status_selected a,
#copyright {
  display: none !important;
}

#list_surround {
  padding-bottom: 10px;
  top: 0;
  width: calc(200px * 4) !important;
}

.td1[width="125"] > span,
.td2[width="125"] > span {
  bottom: 10px;
}

.inputtext {
  bottom: 10px;
}

input[value=Cancel],
input[value=Save] {
  bottom: 5px;
  width: 50px;
}

input[value=Save] {
  left: calc(100% - 130px);
}
/**}/**/

/**@media screen\0 {/**/
.status_not_selected a:before,
.status_selected a:before {
  opacity: .5 !important;
}

.status_selected a:before,
.status_not_selected a:hover:before,
.status_selected a:hover:before {
  opacity: .8 !important;
}

#copyright {
  display: block;
  height: 30px;
  width: 100%;
}

#fancybox-overlay {
  background-color: rgba(30, 30, 30, .6) !important;
  opacity: 1 !important;
}

#fancybox-wrap {
  position: fixed !important;
  top: 10% !important;
}

#fancybox-outer {
  background-color: #E1E7F5 !important;
}

#fancybox-inner {
  border: 1px solid #1D439B;
}

#fancybox-close {
  display: none !important;
}

.animetitle:after {
  background-position: center;
  background-size: cover;
  border: 0;
  border-right-width: 5px !important;
  content: " ";
  display: block;
  height: 301px;
  margin-top: -17px;
  opacity: 0;
  position: fixed;
  right: calc((40% - 10px) - 225px);
  top: 67px;
  width: 0;
  z-index: 3;
}

tr:hover .animetitle:after {
  opacity: 1;
  width: 210px;
}

td:nth-of-type(n+1)[width="125"] small {
  position: fixed;
  left: calc(60% + 200px);
  top: calc(62px + 310px);
}

tr:hover td:nth-of-type(n+1)[width="125"] small {
  left: calc(60% + 30px);
}

.td1[width="125"] > span,
.td2[width="125"] > span {
  position: fixed;
  left: calc(60% + 10px);
  top: calc(62px + 310px);
}

tr:hover .td1[width="125"] > span:before,
tr:hover .td2[width="125"] > span:before {
  height: 310px;
  margin-top: calc(-5px - 310px);
  width: 225px;
}

.inputtext {
  position: fixed;
  right: calc((40% - 10px) - 225px);
  top: 62px;
}

input[value=Cancel],
input[value=Save] {
  position: fixed;
  right: calc((40% - 10px) - 210px);
  top: 62px;
}

input[value=Save] {
  right: calc((40% - 10px) - (210px - 75px));
}

/*@media all and (max-width: 960px), all and (max-height: 390px) , all and (orientation: portrait) {/**/
.animetitle:after {
  bottom: 40px;
  right: 90px;
  top: auto;
}

.animetitle:hover:after {
  opacity: 1 !important;
  visibility: visible !important;
  width: 210px !important;
}

tr:hover .animetitle:after {
  opacity: 0;
  visibility: hidden;
  width: 0;
}

td:nth-of-type(n+1)[width="125"] small {
  position: absolute !important;
  left: auto;
  top: auto;
}

tr:hover td:nth-of-type(n+1)[width="125"] small {
  left: auto;
}

.td1[width="125"] > span,
.td2[width="125"] > span {
  bottom: 35px;
  left: -10px;
  top: auto;
}

tr:hover .td1[width="125"] > span:before,
tr:hover .td2[width="125"] > span:before {
  display: none;
}

.inputtext,
input[value=Cancel],
input[value=Save] {
  right: auto;
  top: auto;
}
/**}/**/

/*@media all and (max-height: 420px) {/**/
.animetitle:after {
  height: 200px;
  right: 80px;
}

.animetitle:hover:after {
  opacity: 1 !important;
  visibility: visible !important;
  width: 153px !important;
}

tr:hover .animetitle:after {
  opacity: 0;
  visibility: hidden;
  width: 0;
}
/**}/**/

/*@media all and (max-width: 420px), all and (max-height: 310px) **/
.animetitle:after {
  height: 150px;
  right: 10px;
}

.animetitle:hover:after {
  width: 117px !important;
}
/**}/**/

/*@media all and (max-width: 160px), all and (max-height: 160px) {/**/
.animetitle:after {
  display: none;
}
