.animetitle:after {
  background-position: center;
  background-size: cover;
  border: 0;
  border-right-width: 5px !important;
  content: " ";
  display: block;
  height: 301px;
  margin-top: -17px;
  opacity: 0;
  position: fixed;
  right: calc((40% - 10px) - 225px);
  top: 67px;
  width: 0;
  z-index: 3;
}

tr:hover .animetitle:after {
  opacity: 1;
  width: 210px;
}

td:nth-of-type(n+1)[width="125"] small {
  position: fixed;
  left: calc(60% + 200px);
  top: calc(62px + 310px);
}

tr:hover td:nth-of-type(n+1)[width="125"] small {
  left: calc(60% + 30px);
}

.td1[width="125"] > span,
.td2[width="125"] > span {
  position: fixed;
  left: calc(60% + 10px);
  top: calc(62px + 310px);
}

tr:hover .td1[width="125"] > span:before,
tr:hover .td2[width="125"] > span:before {
  height: 310px;
  margin-top: calc(-5px - 310px);
  width: 225px;
}

.inputtext {
  position: fixed;
  right: calc((40% - 10px) - 225px);
  top: 62px;
}

input[value=Cancel],
input[value=Save] {
  position: fixed;
  right: calc((40% - 10px) - 210px);
  top: 62px;
}

input[value=Save] {
  right: calc((40% - 10px) - (210px - 75px));
}

/**/@media all and (max-width: 960px), all and (max-height: 390px) , all and (orientation: portrait) {/**/
.animetitle:after {
  bottom: 40px;
  right: 90px;
  top: unset;
}

.animetitle:hover:after {
  opacity: 1 !important;
  visibility: visible !important;
  width: 210px !important;
}

tr:hover .animetitle:after {
  opacity: 0;
  visibility: hidden;
  width: 0;
}

td:nth-of-type(n+1)[width="125"] small {
  position: absolute !important;
  left: unset;
  top: unset;
}

tr:hover td:nth-of-type(n+1)[width="125"] small {
  left: unset;
}

.td1[width="125"] > span,
.td2[width="125"] > span {
  bottom: 35px;
  left: -10px;
  top: unset;
}

tr:hover .td1[width="125"] > span:before,
tr:hover .td2[width="125"] > span:before {
  display: none;
}

.inputtext,
input[value=Cancel],
input[value=Save] {
  right: unset;
  top: unset;
}
/**/}/**/

/**/@media all and (max-height: 420px) {/**/
.animetitle:after {
  height: 200px;
  right: 80px;
}

.animetitle:hover:after {
  opacity: 1 !important;
  visibility: visible !important;
  width: 153px !important;
}

tr:hover .animetitle:after {
  opacity: 0;
  visibility: hidden;
  width: 0;
}
/**/}/**/

/**/@media all and (max-width: 420px), all and (max-height: 310px) {/**/
.animetitle:after {
  height: 150px;
  right: 10px;
}

.animetitle:hover:after {
  width: 117px !important;
}
/**/}/**/

/**/@media all and (max-width: 160px), all and (max-height: 160px) {/**/
.animetitle:after {
  display: none;
}
/**/}/**/