/**/@media all and (max-width: 1024px), all and (max-height: 390px) , all and (orientation: portrait)  {/**/
#btn-back_to_mobile {
  bottom: 40px !important;
}

#list_surround {
  padding-bottom: 40px;
}

#grand_totals {
  margin-top: 0px;
}

#copyright,
#copyright:before,
#copyright:after {
  border: 0;
  left: 0;
  line-height: 30px;
  right: 0;
  text-align: center !important;
  width: auto !important;
}

#copyright {
  bottom: 0;
  height: 30px !important;
}

#copyright:before {
  bottom: 0;
  height: 30px !important;
  padding-right: 10px;
  text-align: right !important;
}

#copyright:hover:before {
  border: 0;
}

#copyright:after {
  content: " ";
  height: 30px;
  position: fixed;
  z-index: -1;
}
/**/}/**/

/**/@media all and (max-width: 960px), all and (max-height: 390px) , all and (orientation: portrait) {/**/
#btn-back_to_mobile {
  background-position: 5px !important;
  border: 0 !important;
  bottom: 0 !important;
  padding: 5px !important;
  left: 0;
}

#list_surround {
  width: calc(100% - 100px);
}

#list_surround > table:first-of-type {
  height: calc(50px * 6);
  width: 55px;
}

#list_surround > table:first-of-type:after,
.status_not_selected a:before,
.status_selected a:before {
  display: block;
}

#list_surround > table:first-of-type td {
  font-size: 0;
  height: 50px;
}

#list_surround table:first-of-type td:nth-of-type(2) {
  margin-top: 50px;
}

#list_surround table:first-of-type td:nth-of-type(3) {
  margin-top: calc(50px * 2);
}

#list_surround table:first-of-type td:nth-of-type(4) {
  margin-top: calc(50px * 3);
}

#list_surround table:first-of-type td:nth-of-type(5) {
  margin-top: calc(50px * 4);
}

#list_surround table:first-of-type td:nth-of-type(6) {
  margin-top: calc(50px * 5);
}

.status_not_selected a,
.status_selected a {
  background-size: 30px !important;
}

.status_selected a,
.status_not_selected a:hover,
.status_selected a:hover {
  border-width: 5px;
}


.status_selected a:before,
.status_not_selected a:hover:before,
.status_selected a:hover:before {
  opacity: .5;
}

.td1[width="125"] > span,
.td2[width="125"] > span {
  border-left-width: 0;
  bottom: 35px;
  left: -10px;
  min-height: 12px !important;
  position: fixed;
  width: 85%;
}

td:nth-of-type(n+1)[width="125"] small {
  right: 100%;
}

td:nth-of-type(n+1)[width="125"] small:hover {
  right: calc(100% - 65px) !important;
}

tr:hover td:nth-of-type(n+1)[width="125"] small {
  right: calc(100% - 30px);
}

.inputtext {
  bottom: 35px;
  height: 10% !important;
  min-height: 80px;
  left: 0;
  padding-bottom: 25px;
  position: fixed;
  width: 85% !important;
}

input[value=Cancel],
input[value=Save] {
  bottom: 40px;
  left: 80%;
  position: fixed;
  width: 55px;
}

input[value=Save] {
  left: calc(80% - 60px);
}
/**/}/**/

/**/@media all and (max-width: 900px), all and (max-height: 350px) {/**/
#copyright {
  bottom: 0;
}

#copyright:before {
  font-size: 0;
  text-align: center !important;
  padding: 0;
}

#copyright:hover:before {
  font-size: 13px;
}

#copyright:hover {
  font-size: 0;
}
/**/}/**/

/**/@media all and (max-width: 900px) {/**/
#mal_cs_otherlinks div:first-of-type,
#mal_cs_otherlinks div:first-of-type a {
  display: block;
  font-size: 0;
  padding: 0;
}

#mal_cs_otherlinks div:first-of-type a {
  height: 40px;
  margin-top: -40px;
}

#mal_cs_otherlinks div:first-of-type strong:hover:before {
  opacity: 1;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

#mal_cs_otherlinks div:first-of-type a {
  background-size: 20px !important;
  width: 40px;
  top: 0;
}

span[title="Compatibility Score"] {
  display: none;
}

#mal_cs_powered,
#searchBox {
  width: calc(100% - 530px) !important;
}

#copyright {
  text-align: right !important;
}
/**/}/**/

/**/@media all and (max-width: 720px) {/**/
#mal_cs_powered,
#searchBox {
  width: calc(100% - 530px) !important;
}

#list_surround {
  padding-right: 90px;
  width: 120% !important;
}

input[value=Cancel],
input[value=Save] {
  left: unset;
  right: 15%;
}

input[value=Save] {
  right: calc(15% + 60px);
}

#copyright {
  font-size: 0;
}

#copyright:before {
  font-size: 13px;
}
/**/}/**/

/**/@media all and (max-width: 600px) {/**/
#mal_cs_otherlinks a {
  display: none !important;;
}

#mal_cs_otherlinks a[href="/login.php"],
#mal_cs_otherlinks a[href="/register.php"],
#mal_cs_otherlinks a[href="/forum/?topicid=515949"] {
  display: block !important;
}

#list_surround {
  width: 150% !important;
  padding-right: 80px;
}
/**/}/**/

/**/@media all and (max-width: 600px), all and (max-height: 380px) {/**/
#mal_cs_powered,
#searchBox {
  opacity: 1 !important;
  width: calc(100% - 530px) !important;
}

#list_surround {
  width: calc(100% - 90px);
}

#list_surround > table:first-of-type {
  height: calc(45px * 6);
  margin-top: -5px !important;
  width: 50px;
  z-index: 3;
}

#list_surround > table:first-of-type:after {
  width: 70px;
}

#list_surround > table:first-of-type td,
.status_not_selected a:before,
.status_selected a:before {
  height: 45px;
}

#list_surround table:first-of-type td:nth-of-type(2) {
  margin-top: 45px;
}

#list_surround table:first-of-type td:nth-of-type(3) {
  margin-top: calc(45px * 2);
}

#list_surround table:first-of-type td:nth-of-type(4) {
  margin-top: calc(45px * 3);
}

#list_surround table:first-of-type td:nth-of-type(5) {
  margin-top: calc(45px * 4);
}

#list_surround table:first-of-type td:nth-of-type(6) {
  margin-top: calc(45px * 5);
}

.status_not_selected a,
.status_selected a {
  background-size: 25px !important;
}
/**/}/**/

/**/@media all and (max-height: 380px) {/**/
#mal_cs_powered,
#searchBox {
  width: calc(100% - 800px) !important;
}

.inputtext {
  min-height: 60px;
}
/**/}/**/

/**/@media all and (max-width: 900px) {/**/
#mal_cs_powered,
#searchBox {
  width: calc(100% - 530px) !important;
}
/**/}/**/

/**/@media all and (max-width: 580px) {/**/
#mal_cs_powered,
#searchBox {
  width: calc(100% - 380px) !important;
}
/**/}/**/

/**/@media all and (max-height: 310px) {/**/
#mal_cs_powered {
  opacity: 0 !important;
}

#list_surround > table:first-of-type {
  margin-top: -25px;
}

#copyright {
  font-size: 0;
}

#copyright:before {
  font-size: 13px;
  text-align: center !important;
}
/**/}/**/

/**/@media all and (max-width: 420px), all and (max-height: 310px) {/**/
#mal_cs_otherlinks strong:hover:before {
  background-color: transparent !important;
  display: none;
}

#mal_cs_powered,
#list_surround > table:first-of-type:after,
#btn-back_to_mobile {
  opacity: 0 !important;
  visibility: hidden !important;
}

#list_surround {
  padding-right: 10px;
  width: calc(420px * 2) !important;
}

#list_surround > table:first-of-type {
  width: 0 !important;
}

#list_surround > table:first-of-type td,
.status_not_selected a,
.status_selected a {
  border: 0 !important;
  bottom: 0;
  height: 0;
  margin-top: 0 !important;
  padding: 0;
  position: fixed;
  left: 0;
  width: 30px;
}

#list_surround table:first-of-type td:nth-of-type(2) a{
  margin-left: 30px;
}

#list_surround table:first-of-type td:nth-of-type(3) a {
  margin-left: calc(30px * 2);
}

#list_surround table:first-of-type td:nth-of-type(4) a {
  margin-left: calc(30px * 3);
}

#list_surround table:first-of-type td:nth-of-type(5) a {
  margin-left: calc(30px * 4);
}

#list_surround table:first-of-type td:nth-of-type(6) a {
  margin-left: calc(30px * 5);
}

.status_not_selected a,
.status_selected a {
  height: 30px;
}

.status_not_selected a:before,
.status_selected a:before {
  width: 30px
}

#copyright:before {
  padding-right: 5px;
  text-align: right !important;
}
/**/}/**/

/**/@media all and (max-width: 420px) {/**/
#mal_cs_pic {
  width: 70% !important;
}

#mal_cs_listinfo {
  width: 120% !important;
}

#mal_cs_links div {
  right: 0;
}

#mal_cs_links div:first-of-type {
  right: 80px;
}

#mal_cs_otherlinks {
  float: right;
}

#mal_cs_powered,
#list_surround > table:first-of-type:after {
  display: none;
}
/**/}/**/

/**/@media all and (max-height: 420px) {/**/
#mal_cs_powered {
  opacity: 1 !important;
  visibility: visible !important;
}

#copyright:hover:before {
  text-align: center;
}
/**/}/**/

/**/@media all and (max-width: 320px) {/**/
.status_not_selected a,
.status_selected a {
  left: 12%;
}

#copyright:before,
#copyright:hover:before {
  font-size: 0;
}
/**/}/**/

/**/@media all and (max-width: 310px) {/**/
#mal_cs_powered {
  display: none;
}

#mal_cs_listinfo div {
  width: 90px !important;
}

#mal_cs_links div {
  right: 0;
}

#mal_cs_links div:last-of-type {
  display: none;
}

#list_surround{
  width: 280% !important;
}

.inputtext {
  min-height: 40px;
}
/**/}/**/

/**/@media all and (max-width: 200px), all and (max-height: 150px) {/**/
#mal_control_strip,
#list_surround > table:first-of-type td,
.status_not_selected a,
.status_selected a,
#copyright {
  display: none !important;
}

#list_surround {
  padding-bottom: 10px;
  top: 0;
  width: calc(200px * 4) !important;
}

.td1[width="125"] > span,
.td2[width="125"] > span {
  bottom: 10px;
}

.inputtext {
  bottom: 10px;
}

input[value=Cancel],
input[value=Save] {
  bottom: 5px;
  width: 50px;
}

input[value=Save] {
  left: calc(100% - 130px);
}
/**/}/**/

/**/@media screen\0 {/**/
.status_not_selected a:before,
.status_selected a:before {
  opacity: .5 !important;
}

.status_selected a:before,
.status_not_selected a:hover:before,
.status_selected a:hover:before {
  opacity: .8 !important;
}

#copyright {
  display: block;
  height: 30px;
  width: 100%;
}
/**/}/**/