/**/ @import "Anastasia_Colors.css"; /*Colors*/

body,
body:after {
  background-image: url(https://i.imgur.com/i3bLXP6.png);
}

#mal_cs_links a[href="/"],
#mal_cs_pic a[href="/"] {
  background-image: url(https://i.imgur.com/dJBhJXp.png) !important;
}
