body {
  background-size: cover;
}

body:after {
  background-color: transparent !important;
  filter: FlipH;
  -ms-filter: "FlipH";
  opacity: 1;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}

#btn-back_to_mobile {
  bottom: 40px !important;
}

#list_surround {
  left: calc((100% - 60%) / 2);
  width: 60%;
}

/**@media all and (max-width: 1024px), all and (max-height: 390px) , all and (orientation: portrait)  {/**/
#list_surround {
  padding-bottom: 40px;
}

#grand_totals {
  margin-top: 0px;
}

#copyright,
#copyright:before,
#copyright:after {
  border: 0;
  left: 0;
  line-height: 30px;
  right: 0;
  text-align: center !important;
  width: auto !important;
}

#copyright {
  bottom: 0;
  height: 30px !important;
}

#copyright:before {
  bottom: 0;
  height: 30px !important;
  padding-right: 10px;
  text-align: right !important;
}

#copyright:hover:before {
  border: 0;
}

#copyright:after {
  content: " ";
  height: 30px;
  position: fixed;
  z-index: -1;
}
/**}/**/

/**/@media all and (max-width: 960px), all and (max-height: 390px) , all and (orientation: portrait) {/**/
#list_surround {
  left: 10px;
}
/**/}/**/