/**/ @import "Vanilla_colors.css"; /*Colors*/
/**/ @import "Vanilla_topbar_icons.css"; /*Topbar Icons*/
/**/ @import "Right_List.css"; /*Right Side List*/

body,
body:after {
  background-image: url(https://i.imgur.com/wKZjg92.png);
  background-size: cover !important;
}

body:after {
  background-size: 0 !important;
}

#mal_cs_links a[href="/"],
#mal_cs_pic a[href="/"] {
  background-image: url(https://i.imgur.com/9TziFST.png) !important;
}
