td:nth-of-type(n+1)[width="125"] small {
  left: calc((40% - 10px) - 225px);
}

tr:hover td:nth-of-type(n+1)[width="125"] small {
  left: calc((40% - 10px) - 95px);
}

.td1[width="125"] > span,
.td2[width="125"] > span {
  top: calc(62px + 270px);
}

tr:hover .td1[width="125"] > span:before,
tr:hover .td2[width="125"] > span:before {
  left: calc((40% - 10px) - 279px);
}

.inputtext {
  left: calc((40% - 10px) - 225px);
}

input[value=Cancel],
input[value=Save] {
  left: calc((40% - 10px) - 220px);
}

input[value=Save] {
  left: calc((40% - 10px) - (220px - 75px));
}

/**/@media all and (max-width: 960px), all and (max-height: 390px) , all and (orientation: portrait) {/**/
td:nth-of-type(n+1)[width="125"] small {
  position: absolute !important;
  left: unset;
  top: unset;
}

tr:hover td:nth-of-type(n+1)[width="125"] small {
  left: unset;
}

.td1[width="125"] > span,
.td2[width="125"] > span {
  top: unset;
}
/**/}/**/