#mal_cs_links a[href="/addtolist.php?hidenav=1"] { /*Add To List*/
  background-image: url(https://i.imgur.com/ogXdHRW.png);
}

#mal_cs_links a[href*="/animelist/"] { /*Anime List*/
  background-image: url(https://i.imgur.com/Wt1OFwO.png);
}

#mal_cs_links a[href*="/mangalist/"] { /*Manga List*/
  background-image: url(https://i.imgur.com/1xs320e.png);
}

#mal_cs_otherlinks a[href*="/history/"] { /*History*/
  background-image: url(https://i.imgur.com/HsZp1Nm.png);
}

#mal_cs_otherlinks a[href="/forum/"] { /*Forum*/
  background-image: url(https://i.imgur.com/vZw8x5o.png);
}

#mal_cs_otherlinks a[href="/panel.php?go=export"] { /*Export*/
  background-image: url(https://i.imgur.com/1Vz5WS3.png);
}

#mal_cs_otherlinks a[href*="/sharedanime.php?"],
#mal_cs_otherlinks a[href*="/sharedmanga.php?"] { /*Shared Anime:Manga*/
  background-image: url(https://i.imgur.com/FMKDAQz.png);
}

#mal_cs_otherlinks a[href*="/animelist/"],
#mal_cs_otherlinks a[href*="/mangalist/"] { /*Others Anime:Manga List*/
  background-image: url(https://i.imgur.com/vcOEmTo.png);
}

#mal_cs_otherlinks a[href="/login.php"] { /*Login*/
  background-image: url(https://i.imgur.com/ogV6fmo.png);
}

#mal_cs_otherlinks a[href="/register.php"] { /*Register*/
  background-image: url(https://i.imgur.com/NeQR1qa.png);
}

#mal_cs_otherlinks a[href="/forum/?topicid=515949"] { /*FAQ*/
  background-image: url(https://i.imgur.com/Dek0neP.png);
}

#mal_cs_otherlinks div:first-of-type a { /*Profile (when viewing other people list)*/
  background-image: url(https://i.imgur.com/0hnL6nT.png) !important;
}

.status_not_selected a[href*="status=1"],
.status_selected a[href*="status=1"] { /*Currently Watching:Reading*/
  background-image: url(https://i.imgur.com/ZYb4AtX.png);
}

.status_not_selected a[href*="status=2"],
.status_selected > a[href*="status=2"] { /*Completed*/
  background-image: url(https://i.imgur.com/ZeRNY9s.png);
}

.status_not_selected > a[href*="status=3"],
.status_selected > a[href*="status=3"] { /*On-Hold*/
  background-image: url(https://i.imgur.com/7Izbc2K.png);
}

.status_not_selected > a[href*="status=4"],
.status_selected > a[href*="status=4"] { /*Dropped*/
  background-image: url(https://i.imgur.com/4H84Pig.png);
}

.status_not_selected > a[href*="status=6"],
.status_selected > a[href*="status=6"] { /*Plan to Watch:Read*/
  background-image: url(https://i.imgur.com/R9I1OA5.png);
}

.status_not_selected > a[href*="status=7"],
.status_selected > a[href*="status=7"] { /*All Anime:Manga*/
  background-image: url(https://i.imgur.com/cChiXeC.png);
}