/**/ @import "Danshi_Koukousei_no_Nichijou_colors.css"; /*Colors*/
/**/ @import "Danshi_Koukousei_no_Nichijou_topbar_icons.css"; /*Topbar Icons*/

body,
body:after {
  background-image: url(https://i.imgur.com/tWdjcKz.jpg);
}

#mal_cs_links a[href="/"],
#mal_cs_pic a[href="/"] {
  background-image: url(https://i.imgur.com/5iryg9L.png) !important;
}
