#fancybox-overlay {
  background-color: rgba(30, 30, 30, .6) !important;
  opacity: 1 !important;
}

#fancybox-wrap {
  position: fixed !important;
  top: 10% !important;
}

#fancybox-outer {
  background-color: #E1E7F5 !important;
}

#fancybox-inner {
  border: 1px solid #1D439B;
}

#fancybox-close {
  display: none !important;
}