#btn-back_to_mobile {
  left: 0;
}

.animetitle:after {
  left: unset;
  right: 10px;
}

td:nth-of-type(n+1)[width="125"] small {
  right: calc(100% + 20px);
}

tr:hover td:nth-of-type(n+1)[width="125"] small {
  right: calc(100% - 50px);
}

.td1[width="125"] > span,
.td2[width="125"] > span {
  position: fixed;
}

#copyright,
#copyright:before,
#copyright:hover:before {
  border: 0;
}

#copyright {
  text-align: center !important;
}

#copyright:before {
  left: 0;
}

/**@media all and (max-width: 960px), all and (max-height: 390px) , all and (orientation: portrait) {/**/
#list_surround {
  left: 110px;
  padding-right: 10px !important;
  width: calc(100% - 120px) !important;
}

#list_surround > table:first-of-type {
  border: 0;
  left: -80px;
  width: 100px !important;
}
  
#list_surround > table:first-of-type:after {
  left: 0;
  width: 100px;
}

.status_not_selected a,
.status_selected a {
  border: 0;
  padding: 0;
}

.status_not_selected a:hover,
.status_selected a:hover {
  background-size: 0 !important;
  border: 0;
}

.status_not_selected a:before,
.status_selected a:before {
  border: 0;
  padding: 0;
  width: 100px;
}

.status_not_selected a:after,
.status_selected a:after {
  display: block;
  font-size: 0 !important;
  height: 50px;
  line-height: 50px;
  margin-top: -80px;
  position: absolute;
  text-align: center;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  width: 100px;
}

.status_not_selected a[href*="status=1"]:after,
.status_selected a[href*="status=1"]:after {
  content: "Current";
}

.status_not_selected a[href*="status=2"]:after,
.status_selected a[href*="status=2"]:after {
  content: "Completed";
}

.status_not_selected a[href*="status=3"]:after,
.status_selected a[href*="status=3"]:after {
  content: "On-Hold";
}

.status_not_selected a[href*="status=4"]:after,
.status_selected a[href*="status=4"]:after {
  content: "Dropped";
}

.status_not_selected a[href*="status=6"]:after,
.status_selected a[href*="status=6"]:after {
  content: "Planned";
}

.status_not_selected a[href*="status=7"]:after,
.status_selected a[href*="status=7"]:after {
  content: "All";
}

.status_not_selected a:hover:after,
.status_selected a:hover:after {
  font-size: 13px !important;
}

.td1[width="125"] > span,
.td2[width="125"] > span {
  border-right-width: 0;
  left: unset !important;
  right: 0;
  width: 80% !important;
}

.inputtext {
  left: unset !important;
  padding-right: 5% !important;
  right: -5%;
}

input[value=Cancel],
input[value=Save] {
  left: 85% !important;
}

input[value=Save] {
  left: calc(85% - 60px) !important;
}
/**}/**/

/**/@media all and (max-width: 600px), all and (max-height: 380px) {/**/
#list_surround {
  left: 60px;
}

#list_surround > table:first-of-type {
  height: calc(45px * 6);
  left: -130px;
  margin-top: -5px !important;
  width: 50px !important;
  z-index: 3;
}

#list_surround > table:first-of-type:after {
  width: 50px !important;
}

.status_not_selected a:hover,
.status_selected a:hover {
  background-size: 25px !important;
}

.status_not_selected a:before,
.status_selected a:before {
  width: 50px;
}

.status_not_selected a:hover:after,
.status_selected a:hover:after {
  font-size: 0 !important;
}
/**/}/**/

/**/@media all and (max-width: 420px), all and (max-height: 310px) {/**/
#list_surround {
  left: 10px;
}

.status_not_selected a:after,
.status_selected a:after {
  width: 0;
}

input[value=Cancel],
input[value=Save] {
  left: calc(100% - 70px) !important;
}

input[value=Save] {
  left: calc(100% - (70px + 60px)) !important;
}
/**/}/**/