/**/ @import "Kaneki_Ken_colors.css"; /*Colors*/
/**/ @import "Kaneki_Ken_topbar_icons.css"; /*Topbar Icons*/

body,
body:after {
  background-image: url(https://i.imgur.com/Aa7xPoV.png);
}

#mal_cs_links a[href="/"],
#mal_cs_pic a[href="/"] {
  background-image: url(https://i.imgur.com/Cg2jk1i.png) !important;
}
