/**/ @import "Kaneki_Ken_v2_colors.css"; /*Colors*/

body,
body:after {
  background-image: url(https://i.imgur.com/005muo0.png);
}

#mal_cs_links a[href="/"],
#mal_cs_pic a[href="/"] {
  background-image: url(https://i.imgur.com/etKaMLX.png) !important;
}
