#mal_cs_links a[href="/addtolist.php?hidenav=1"] { /*Add To List*/
  background-image: url(https://i.imgur.com/KDEsSeJ.png);
}

#mal_cs_links a[href*="/animelist/"] { /*Anime List*/
  background-image: url(https://i.imgur.com/6r6ohqU.png);
}

#mal_cs_links a[href*="/mangalist/"] { /*Manga List*/
  background-image: url(https://i.imgur.com/N7jpckK.png);
}

#mal_cs_otherlinks a[href*="/history/"] { /*History*/
  background-image: url(https://i.imgur.com/UvvD6TV.png);
}

#mal_cs_otherlinks a[href="/forum/"] { /*Forum*/
  background-image: url(https://i.imgur.com/USntf80.png);
}

#mal_cs_otherlinks a[href="/panel.php?go=export"] { /*Export*/
  background-image: url(https://i.imgur.com/LlQ00II.png);
}

#mal_cs_otherlinks a[href*="/sharedanime.php?"],
#mal_cs_otherlinks a[href*="/sharedmanga.php?"] { /*Shared Anime:Manga*/
  background-image: url(https://i.imgur.com/2Nf7R4p.png);
}

#mal_cs_otherlinks a[href*="/animelist/"],
#mal_cs_otherlinks a[href*="/mangalist/"] { /*Others Anime:Manga List*/
  background-image: url(https://i.imgur.com/aQrD2H5.png);
}

#mal_cs_otherlinks a[href="/login.php"] { /*Login*/
  background-image: url(https://i.imgur.com/ECGPt3R.png);
}

#mal_cs_otherlinks a[href="/register.php"] { /*Register*/
  background-image: url(https://i.imgur.com/h9xVmdp.png);
}

#mal_cs_otherlinks a[href="/forum/?topicid=515949"] { /*FAQ*/
  background-image: url(https://i.imgur.com/8Pk0vFT.png);
}

#mal_cs_otherlinks div:first-of-type a { /*Profile (when viewing other people list)*/
  background-image: url(https://i.imgur.com/s4rlTxT.png) !important;
}

.status_not_selected a[href*="status=1"],
.status_selected a[href*="status=1"] { /*Currently Watching:Reading*/
  background-image: url(https://i.imgur.com/vR7eCm2.png);
}

.status_not_selected a[href*="status=2"],
.status_selected > a[href*="status=2"] { /*Completed*/
  background-image: url(https://i.imgur.com/XyDECks.png);
}

.status_not_selected > a[href*="status=3"],
.status_selected > a[href*="status=3"] { /*On-Hold*/
  background-image: url(https://i.imgur.com/ftpy5cp.png);
}

.status_not_selected > a[href*="status=4"],
.status_selected > a[href*="status=4"] { /*Dropped*/
  background-image: url(https://i.imgur.com/sTZzHUr.png);
}

.status_not_selected > a[href*="status=6"],
.status_selected > a[href*="status=6"] { /*Plan to Watch:Read*/
  background-image: url(https://i.imgur.com/tLN0fHa.png);
}

.status_not_selected > a[href*="status=7"],
.status_selected > a[href*="status=7"] { /*All Anime:Manga*/
  background-image: url(https://i.imgur.com/iPkffdR.png);
}