/** @import url(http://mal-fellow-writer.appspot.com/anime/username/?covers=https://dl.dropboxusercontent.com/s/tc8bgt7nt9q93jg/animetitle-after.css); /*Covers Import*/
/**/ @import "https://dl.dropboxusercontent.com/s/xqymo5agf80i4ty/Minimalist_Zoku.css"; /*Base Layout*//*Rin Shibuya*//*The iDOLM@STER Cinderella Girls*/

/**//**LAYOUT**//*List of Layout* (https://dl.dropboxusercontent.com/s/ixzo02lguvtpgir/Layout.css) */
/** @import "https://dl.dropboxusercontent.com/s/w06s8xf701nxans/Anastasia.css"; /*The iDOLM@STER Cinderella Girls*/
/** @import "https://dl.dropboxusercontent.com/s/wvkurmkyweymssi/Danshi_Koukousei_no_Nichijou.css"; /*Danshi Koukousei no Nichijou*/
/** @import "https://dl.dropboxusercontent.com/s/svucub5peidzz5e/Kaneki_Ken.css"; /*Tokyo Ghoul*/
/** @import "https://dl.dropboxusercontent.com/s/8xu3z6lfzbdeclr/Kaneki_Ken_v2.css"; /*Tokyo Ghoul*/
/** @import "https://dl.dropboxusercontent.com/s/2srgk331djikrun/Vanilla.css"; /*NEKO WORKs*/
/** @import "https://dl.dropboxusercontent.com/s/082vsskfh9ohzg2/Chocola.css"; /*NEKO WORKs*/

/**//**COVERS**/
/** @import "https://dl.dropboxusercontent.com/s/4wkc2s91qoiw9ri/Covers.css"; /*Covers*/
/** @import "https://dl.dropboxusercontent.com/s/om884swhxhigslg/Covers_Left.css"; /*Covers for Right Side List*/

/**//**LIST**/
/** @import "https://dl.dropboxusercontent.com/s/o6rige3f42rgqzp/Fullscreen.css"; /*Fullscreen Layout*/
/** @import "https://dl.dropboxusercontent.com/s/ngwxulnce3et5xb/Right_List.css"; /*Right Side List*/
/** @import "https://dl.dropboxusercontent.com/s/pzq3lghrfruz7qp/Center_List.css"; /*Center List*/
/** @import "https://dl.dropboxusercontent.com/s/hfadcm14sssvhvl/Fullscreen_Left.css"; /*Fullscreen Layout (Left Side Menu)*/

/**//**RESPONSIVE**/
/**/ @import "https://dl.dropboxusercontent.com/s/t9hvv9ec64u0e72/Responsive.css"; /*Responsive View*/
/** @import "https://dl.dropboxusercontent.com/s/28cl7b58gbf8ela/Responsive_Wide.css"; /*Responsive View For Wider List*/

/**//**FANCYBOX**/
/**/ @import "https://dl.dropboxusercontent.com/s/5vas68bza1no09d/Fancybox.css"; /*Fancybox*/
minimalist:zoku {layout-by: kiokuzoku}