/**/@media all and (max-width: 1500px), all and (max-height: 390px) , all and (orientation: portrait)  {/**/
#btn-back_to_mobile {
  bottom: 40px !important;
}

#list_surround {
  padding-bottom: 40px;
}

#grand_totals {
  margin-top: 0px;
}

#copyright,
#copyright:before,
#copyright:after {
  border: 0;
  left: 0;
  line-height: 30px;
  right: 0;
  text-align: center !important;
  width: auto !important;
}

#copyright {
  bottom: 0;
  height: 30px !important;
}

#copyright:before {
  bottom: 0;
  height: 30px !important;
  padding-right: 10px;
  text-align: right !important;
}

#copyright:hover:before {
  border: 0;
}

#copyright:after {
  content: " ";
  height: 30px;
  position: fixed;
  z-index: -1;
}
/**/}/**/

/**/@media all and (max-width: 1500px), all and (max-height: 390px) , all and (orientation: portrait) {/**/
#btn-back_to_mobile {
  background-position: 5px !important;
  border: 0 !important;
  bottom: 0 !important;
  padding: 5px !important;
  left: 0;
}

#list_surround {
  width: calc(100% - 100px);
}

#list_surround > table:first-of-type {
  height: calc(50px * 6);
  width: 55px;
}

#list_surround > table:first-of-type:after,
.status_not_selected a:before,
.status_selected a:before {
  display: block;
}

#list_surround > table:first-of-type td {
  font-size: 0;
  height: 50px;
}

#list_surround table:first-of-type td:nth-of-type(2) {
  margin-top: 50px;
}

#list_surround table:first-of-type td:nth-of-type(3) {
  margin-top: calc(50px * 2);
}

#list_surround table:first-of-type td:nth-of-type(4) {
  margin-top: calc(50px * 3);
}

#list_surround table:first-of-type td:nth-of-type(5) {
  margin-top: calc(50px * 4);
}

#list_surround table:first-of-type td:nth-of-type(6) {
  margin-top: calc(50px * 5);
}

.status_not_selected a,
.status_selected a {
  background-size: 30px !important;
}

.status_selected a,
.status_not_selected a:hover,
.status_selected a:hover {
  border-width: 5px;
}


.status_selected a:before,
.status_not_selected a:hover:before,
.status_selected a:hover:before {
  opacity: .5;
}

.td1[width="125"] > span,
.td2[width="125"] > span {
  border-left-width: 0;
  bottom: 35px;
  left: -10px;
  min-height: 12px !important;
  position: fixed;
  width: 85%;
}

td:nth-of-type(n+1)[width="125"] small {
  right: 100%;
}

td:nth-of-type(n+1)[width="125"] small:hover {
  right: calc(100% - 65px) !important;
}

tr:hover td:nth-of-type(n+1)[width="125"] small {
  right: calc(100% - 30px);
}

.inputtext {
  bottom: 35px;
  height: 10% !important;
  min-height: 80px;
  left: 0;
  padding-bottom: 25px;
  position: fixed;
  width: 85% !important;
}

input[value=Cancel],
input[value=Save] {
  bottom: 40px;
  left: 80%;
  position: fixed;
  width: 55px;
}

input[value=Save] {
  left: calc(80% - 60px);
}
/**/}/**/

/**/@media all and (max-width: 900px) {/**/
#list_surround {
  padding-right: 90px;
  width: 120% !important;
}
/**/}/**/

/**/@media all and (max-width: 720px) {/**/
#list_surround {
  width: 150% !important;
  padding-right: 90px;
}
/**/}/**/

/**/@media all and (max-width: 600px), all and (max-height: 380px) {/**/
#list_surround {
  width: calc(100% - 90px);
}
/**/}/**/

/**/@media all and (max-width: 580px) {/**/
#list_surround {
  padding-right: 80px;
  width: calc(580px * 2) !important;
}
/**/}/**/

/**/@media all and (max-width: 420px) {/**/
#list_surround {
  padding-right: 10px;
}
/**/}/**/

/**/@media all and (max-width: 310px) {/**/
#list_surround {
  width: calc(310px * 4) !important;
}
/**/}/**/

/**/@media all and (max-width: 200px), all and (max-height: 150px) {/**/
#list_surround {
  width: calc(310px * 3) !important;
}
/**/}/**/