/**/ @import "kiokuzoku/Vanilla_colors.css"; /*Colors*/
/**/ @import "kiokuzoku/Vanilla_topbar_colors.css"; /*Topbar Icons*/

body,
body:after {
  background-image: url(https://i.imgur.com/zBKBrh5.png);
}

#mal_cs_links a[href="/"],
#mal_cs_pic a[href="/"] {
  background-image: url(https://i.imgur.com/mH9V9Zv.png) !important;
}
