body,
body:after {
  background-color: rgba(73, 46, 55, .6);
  color: rgba(251, 240, 223, 1);
}

::-webkit-scrollbar {
  background-color: rgba(73, 46, 55, .92);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(251, 240, 223, 1);
}

::selection {
  background-color: rgba(251, 240, 223, .5);
  color: rgba(251, 240, 223, 1);
}

::-moz-selection {
  background-color: rgba(251, 240, 223, .5);
  color: rgba(251, 240, 223, 1);
}

a,
#copyright,
#copyright:before,
#mal_cs_pic {
  color: rgba(251, 240, 223, 1) !important;
}

a:hover,
#copyright:hover,
#copyright:hover:before {
  color: rgba(251, 240, 223, 1) !important;
  text-shadow: 0px 0px rgba(251, 240, 223, 1), -0px 0px rgba(251, 240, 223, 1);
}

#btn-back_to_mobile {
  border-left-color: rgba(251, 240, 223, 1) !important;
  border-right-color: rgba(251, 240, 223, 1) !important;
}

#mal_control_strip {
  background-color: rgba(73, 46, 55, .8) !important;
}

#mal_cs_pic {
  background-color: rgba(73, 46, 55, .7);
}

#mal_cs_listinfo {
  background-color: rgba(73, 46, 55, .7);
}

#mal_cs_listinfo a:hover {
  border-color: rgba(251, 240, 223, 1);
}

#mal_cs_links a:hover,
#mal_cs_otherlinks div:last-of-type a:hover,
#mal_cs_pic:hover {
  background-color: rgba(251, 240, 223, .5) !important;
}

#mal_cs_links a[href="/"]:hover {
  background-color: rgba(251, 240, 223, .5) !important;
}

#mal_cs_otherlinks div:first-of-type {
  color: rgba(251, 240, 223, 1);
}

#mal_cs_otherlinks div:first-of-type strong:before {
  background-color: rgba(251, 240, 223, .5);
}

#searchBox {
  border-color: rgba(251, 240, 223, 1);
  color: rgba(251, 240, 223, 1);
}

#list_surround > table:first-of-type:after {
  background: rgba(73, 46, 55, .8);
}

.status_not_selected a,
.status_selected a {
  border-color: rgba(251, 240, 223, 1) !important;
}

.status_not_selected a:before,
.status_selected a:before {
  background-color: rgba(251, 240, 223, 1);
}

.status_selected a {
  color: rgba(251, 240, 223, 1) !important;
}

.header_cw,
.header_completed,
.header_onhold,
.header_dropped,
.header_ptw {
  background-color: rgba(251, 240, 223, .5);
}

.header_title {
  color: rgba(73, 46, 55, 1);
}

.table_header {
  background-color: rgba(73, 46, 55, .7);
}

tr:hover [class^=td] {
  background-color: rgba(73, 46, 55, .6);
}

.td1 {
  background-color: rgba(73, 46, 55, .5);
}

.td2 {
  background-color: rgba(73, 46, 55, .4);
}

tr:hover [class^=td] a {
  text-shadow: 0px 0px rgba(251, 240, 223, 1), -0px 0px rgba(251, 240, 223, 1);
}

.animetitle:after,
.animetitle:before {
  background-color: rgba(73, 46, 55, .8);
  border-left-color: rgba(251, 240, 223, 1) !important;
  border-right-color: rgba(251, 240, 223, 1) !important;
}

.animetitle:hover {
  border-color: rgba(251, 240, 223, 1);
}

td:nth-of-type(n+1)[width="125"] small {
  background-color: rgba(251, 240, 223, .5);
  color: rgba(73, 46, 55, 1);
}

td:nth-of-type(n+1)[width="125"] small:hover,
input[value=Cancel]:hover,
input[value=Save]:hover {
  color: rgba(73, 46, 55, 1);
}

.td1[width="125"] > span,
.td2[width="125"] > span {
  background-color: rgba(73, 46, 55, .8);
  border-color: rgba(251, 240, 223, 1);
}

.inputtext {
  background-color: rgba(73, 46, 55, .8);
  color: rgba(251, 240, 223, 1);
}

input[value=Cancel],
input[value=Save] {
  background-color: rgba(251, 240, 223, .5);
  color: rgba(73, 46, 55, 1);
}

.borderRBL {
  color: rgba(251, 240, 223, 1);
}

.category_totals,
#grand_totals {
  background-color: rgba(73, 46, 55, .7);
  color: rgba(251, 240, 223, 1);
}

#copyright,
#copyright:before {
  border-color:rgba(251, 240, 223, 1) !important;
  color: rgba(251, 240, 223, 1);
}

#copyright:hover {
  color: rgba(251, 240, 223, 1) !important;
}

#copyright:hover:before {
  color: rgba(251, 240, 223, 1);
}

#copyright:after {
  background-color: rgba(73, 46, 55, .8);
}