#mal_cs_links a[href="/addtolist.php?hidenav=1"] { /*Add To List*/
  background-image: url(https://i.imgur.com/QPH4w8i.png);
}

#mal_cs_links a[href*="/animelist/"] { /*Anime List*/
  background-image: url(https://i.imgur.com/AqtyUdf.png);
}

#mal_cs_links a[href*="/mangalist/"] { /*Manga List*/
  background-image: url(https://i.imgur.com/iLtDH73.png);
}

#mal_cs_otherlinks a[href*="/history/"] { /*History*/
  background-image: url(https://i.imgur.com/WFJrXWU.png);
}

#mal_cs_otherlinks a[href="/forum/"] { /*Forum*/
  background-image: url(https://i.imgur.com/TVi2OMv.png);
}

#mal_cs_otherlinks a[href="/panel.php?go=export"] { /*Export*/
  background-image: url(https://i.imgur.com/J8AUODK.png);
}

#mal_cs_otherlinks a[href*="/sharedanime.php?"],
#mal_cs_otherlinks a[href*="/sharedmanga.php?"] { /*Shared Anime:Manga*/
  background-image: url(https://i.imgur.com/67OwjiG.png);
}

#mal_cs_otherlinks a[href*="/animelist/"],
#mal_cs_otherlinks a[href*="/mangalist/"] { /*Others Anime:Manga List*/
  background-image: url(https://i.imgur.com/ckGmT7o.png);
}

#mal_cs_otherlinks a[href="/login.php"] { /*Login*/
  background-image: url(https://i.imgur.com/ftbPVLE.png);
}

#mal_cs_otherlinks a[href="/register.php"] { /*Register*/
  background-image: url(https://i.imgur.com/r6ye4jS.png);
}

#mal_cs_otherlinks a[href="/forum/?topicid=515949"] { /*FAQ*/
  background-image: url(https://i.imgur.com/d9clNYY.png);
}

#mal_cs_otherlinks div:first-of-type a { /*Profile (when viewing other people list)*/
  background-image: url(https://i.imgur.com/QY7gIGn.png) !important;
}

.status_not_selected a[href*="status=1"],
.status_selected a[href*="status=1"] { /*Currently Watching:Reading*/
  background-image: url(https://i.imgur.com/pGUHQrp.png);
}

.status_not_selected a[href*="status=2"],
.status_selected > a[href*="status=2"] { /*Completed*/
  background-image: url(https://i.imgur.com/R6rDJtD.png);
}

.status_not_selected > a[href*="status=3"],
.status_selected > a[href*="status=3"] { /*On-Hold*/
  background-image: url(https://i.imgur.com/fOFj8qv.png);
}

.status_not_selected > a[href*="status=4"],
.status_selected > a[href*="status=4"] { /*Dropped*/
  background-image: url(https://i.imgur.com/BpIiSyZ.png);
}

.status_not_selected > a[href*="status=6"],
.status_selected > a[href*="status=6"] { /*Plan to Watch:Read*/
  background-image: url(https://i.imgur.com/no2xnn9.png);
}

.status_not_selected > a[href*="status=7"],
.status_selected > a[href*="status=7"] { /*All Anime:Manga*/
  background-image: url(https://i.imgur.com/DJ73zan.png);
}